.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
    background-image: url('../../assets/img/bg/backgroundQuemSomos.png');
    height: 100vh;

    .container{
        display: flex;
        flex-direction: column;      
        width: 40%;
        height: 100%;
        padding: 1rem;        
        font-family: 'Inter', sans-serif;
        gap: 2rem;

        h2 {
            font-family: "Source Sans 3", sans-serif;
            font-size: 2.5rem;
            color: #205691;
            font-weight: bold;
        }

        p { 
            display: flex;
            flex-direction: column;
            gap: 1rem;            
            font-family: 'Inter', sans-serif;
            font-size: 1.3rem;
            font-weight: 400;
            color: #000;
            text-align: justify;
        }
    }
    
}

@media (min-width: 201px) and (max-width: 500px) {
    .mainContainer {
        flex-direction: column;
        height: 80vh;
        width: 100%;
        background-image: none;
        align-items: center;

        .container {
            width: 100%;
            height: 100%;

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}