.mainContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
    height: 100%; 
    
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}