.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;  
    align-items: center
    
}

.imgContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    img {
        width: 76%;
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 49%;   
    height: 40vh;

    h1 {
        font-family: "Source Sans 3", sans-serif;
        font-size: 5.5rem;
        color: #205691;
        font-weight: bold;

    }

    p {
        font-family: "Alatsi", sans-serif;
        font-size: 1.5rem;
        color: #205691;
        
        
    }
}

@media (min-width: 201px) and (max-width: 500px) {
    .mainContainer {
        flex-direction: column;
        height: 80vh;
        width: 100%;
    }

    .textContainer {
        width: 100%;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: center;
       
        h1{
            font-size: 3rem;
            text-align: center;
        }

        p {
            font-size: 0.7rem;
            text-align: center;

        }

        
    }
    .imgContainer {
        

        img {
           
            border-radius: 100%;
        }
    }
}