.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1rem;
    

    h2 {
        font-family: 'Inter', sans-serif;
        color: #205691;
        font-size: 3rem;
        font-weight: 700;
    }

    p {
        font-family: 'Inter', sans-serif;
        color: #000;
        font-size: 1rem;
        width: 42%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;        
    }

    
}

.cardsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
   


   .card {
    border-radius: 10px;
    border: 1px solid #cccc;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    
    gap: 1rem;
    width: 25%;   


    img {
        width: 100%;
        height: 30%;
    }

    h3 {
        color: #122F97;
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
    }

    p {
        color: #000;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        width: 80%;
    }

    button {
        background-color: #205691;
        color: #ffff;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        border-radius: 1rem;
        padding: 0.5rem;
        border: #205691;
        cursor: pointer;
    }
   }
    
}

