.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #205791;
    padding: 1rem;  
    font-family: 'Inter', sans-serif;
    

    .perfil {
        border-radius: 100%;
        border: 3px solid #00AAFF;
        width: 50px;
        height: 50px;
    }   
}

.logo {
    width: 60px;
    height: 50px;
}
.links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;



    a {
        text-decoration: none;
        color: #ffff;
    }
    
    a:hover{
        text-decoration: underline;
        color: #00AAFF;
        cursor: pointer;
        font-weight: bold;
        transition: 0.5s;
    }
}
