.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #205791;
    padding: 0.5rem;  
    font-family: 'Inter', sans-serif;
    

    .perfil {
        border-radius: 100%;
        border: 3px solid #00AAFF;
        width: 50px;
        height: 50px;
    }   
}

.links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;

    .link {
        text-decoration: none;
        color: #ffff;
    }
}
