.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #205791;
    padding: 1rem;  
    font-family: 'Inter', sans-serif;
    

    .perfil {
        border-radius: 100%;
        border: 5px solid #00AAFF;
        width: 5vw;
       
    }   
}

.logo {
    width: 5vw;
}
.links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    list-style: none;



    a {
        text-decoration: none;
        color: #ffff;
        font-size: 1.5rem;

    }
    
    a:hover{
        text-decoration: underline;
        color: #00AAFF;
        cursor: pointer;
        font-weight: bold;
        transition: 0.5s;
    }
}

@media (min-width: 201px) and (max-width: 500px) {
    .navbar {     
        width: 100vw; 
        padding: 0.5rem;

        a {
            font-size: 0.7rem;
        }

        .perfil {
            width: 9vw;
        }

        .logo {
            width: 9vw;        }
        
    }

}
